*, *:after, *:before {
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  background-color: #112;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.kodama {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.kodama .head {
  margin-top:44px;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 100% 100% 60% 100%;
  border: 2px solid #112;
  transform: rotateZ(15deg);
  -webkit-animation: rotation 4s 2s infinite;
          animation: rotation 4s 2s infinite;
  box-shadow: 0 0 65px 10px rgba(250, 250, 250, 0.6);
}
.kodama .head:after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #334;
  position: absolute;
  top: 50px;
  left: 20px;
  border-radius: 20px;
}
.kodama .head:before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #334;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 20px;
}
.kodama .head .mouth {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #334;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 20px;
}
@-webkit-keyframes rotation {
  0%, 40%, 42%, 44%, 46%, 48%, 50%, 52%, 54%, 56%, 58%, 60%, 62%, 64%, 66%, 68%, 70%, 72%, 74%, 76%, 78%, 80%, 82%, 84%, 86%, 88%, 90%, 100% {
    transform: rotateZ(15deg);
  }
  39% {
    transform: rotateZ(-35deg);
  }
  41% {
    transform: rotateZ(-34deg);
  }
  43% {
    transform: rotateZ(-32deg);
  }
  45% {
    transform: rotateZ(-30deg);
  }
  47% {
    transform: rotateZ(-28deg);
  }
  49% {
    transform: rotateZ(-26deg);
  }
  51% {
    transform: rotateZ(-24deg);
  }
  53% {
    transform: rotateZ(-22deg);
  }
  55% {
    transform: rotateZ(-20deg);
  }
  57% {
    transform: rotateZ(-18deg);
  }
  59% {
    transform: rotateZ(-16deg);
  }
  61% {
    transform: rotateZ(-14deg);
  }
  63% {
    transform: rotateZ(-12deg);
  }
  65% {
    transform: rotateZ(-10deg);
  }
  67% {
    transform: rotateZ(-8deg);
  }
  69% {
    transform: rotateZ(-6deg);
  }
  71% {
    transform: rotateZ(-4deg);
  }
  73% {
    transform: rotateZ(-2deg);
  }
  75% {
    transform: rotateZ(0deg);
  }
  77% {
    transform: rotateZ(2deg);
  }
  79% {
    transform: rotateZ(4deg);
  }
  81% {
    transform: rotateZ(6deg);
  }
  83% {
    transform: rotateZ(8deg);
  }
  85% {
    transform: rotateZ(10deg);
  }
  87% {
    transform: rotateZ(12deg);
  }
  89% {
    transform: rotateZ(14deg);
  }
}
@keyframes rotation {
  0%, 40%, 42%, 44%, 46%, 48%, 50%, 52%, 54%, 56%, 58%, 60%, 62%, 64%, 66%, 68%, 70%, 72%, 74%, 76%, 78%, 80%, 82%, 84%, 86%, 88%, 90%, 100% {
    transform: rotateZ(15deg);
  }
  39% {
    transform: rotateZ(-35deg);
  }
  41% {
    transform: rotateZ(-34deg);
  }
  43% {
    transform: rotateZ(-32deg);
  }
  45% {
    transform: rotateZ(-30deg);
  }
  47% {
    transform: rotateZ(-28deg);
  }
  49% {
    transform: rotateZ(-26deg);
  }
  51% {
    transform: rotateZ(-24deg);
  }
  53% {
    transform: rotateZ(-22deg);
  }
  55% {
    transform: rotateZ(-20deg);
  }
  57% {
    transform: rotateZ(-18deg);
  }
  59% {
    transform: rotateZ(-16deg);
  }
  61% {
    transform: rotateZ(-14deg);
  }
  63% {
    transform: rotateZ(-12deg);
  }
  65% {
    transform: rotateZ(-10deg);
  }
  67% {
    transform: rotateZ(-8deg);
  }
  69% {
    transform: rotateZ(-6deg);
  }
  71% {
    transform: rotateZ(-4deg);
  }
  73% {
    transform: rotateZ(-2deg);
  }
  75% {
    transform: rotateZ(0deg);
  }
  77% {
    transform: rotateZ(2deg);
  }
  79% {
    transform: rotateZ(4deg);
  }
  81% {
    transform: rotateZ(6deg);
  }
  83% {
    transform: rotateZ(8deg);
  }
  85% {
    transform: rotateZ(10deg);
  }
  87% {
    transform: rotateZ(12deg);
  }
  89% {
    transform: rotateZ(14deg);
  }
}
.kodama .body {
  height: 60px;
  width: 40px;
  border-radius: 0 0 20px 20px;
  background-color: #fff;
  margin-top: -10px;
  z-index: 0;
  border: 2px solid #112;
  position: relative;
  box-shadow: 0 0 65px 10px rgba(250, 250, 250, 0.4);
}
.kodama .body:after, .kodama .body:before {
  content: "";
  height: 80%;
  width: 15px;
  background-color: #fff;
  position: absolute;
  border: 2px solid #112;
}
.kodama .body:after {
  left: 85%;
  border-radius: 100% 100% 20px 20px;
  transform: rotateZ(-10deg);
}
.kodama .body:before {
  right: 85%;
  border-radius: 100% 100% 20px 20px;
  transform: rotateZ(10deg);
}
.kodama .body .legs {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}
.kodama .body .legs:after, .kodama .body .legs:before {
  content: "";
  height: 30px;
  width: 18px;
  background-color: #fff;
  position: absolute;
  border: 2px solid #112;
}
.kodama .body .legs:after {
  left: 90%;
  border-radius: 20px 20px 100% 100%;
  transform: rotateZ(10deg);
}
.kodama .body .legs:before {
  right: 90%;
  border-radius: 20px 20px 100% 100%;
  transform: rotateZ(-10deg);
}

.dialog {
  margin-top: 30px;
  color: rgb(238, 230, 255);
  font-family: Arial;
  font-size: 1.2em;
}

.intro {
  margin-top: 2px;
  color: #FFF;
  font-family: Arial;
  font-size: 1.2em;
}

hr:not(.thunder) {
  width: 50px;
  border-color: transparent;
  #border-style: solid;
  border-right-color: rgb(255, 153, 51);
  border-right-width: 100px;
  opacity: .1;
  position: absolute;
  bottom: 100%;
  transform-origin: 100% 50%;
  animation-name: rain;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 10;
}

@keyframes rain {
  from {
    transform: rotate(95deg) translateX(0);
  }
  to {
    transform: rotate(50deg) translateX(calc(100vh + 20px));
  }
   to {
    transform: rotate(95deg) translateX(calc(100vh + 20px));
  }
}
